body{
	top: 0;
	left: 0;
	margin: 0px;
	height: 100%;
	min-width: 812px;
	background-color: black;
}
#wrapper{
}
.youtube{
height: 100%;
width: 100%;
padding: 0px;
}

/*text*/
.title{
	font-family: "Oswald";
	font-size: 50px;
	padding: 20px 0px 0px 20px;
	line-height: 48px;
}
.text{
	font-family: helvetica neue;
	font-size: 24px;
	font-weight: 100;
	padding: 20px 0px 0px 20px;
	line-height: 18px;
}
.text span{
	font-size: 12px;
	font-weight: 300;
}
.hashtag{
	font-family: "Oswald";
	padding-top: 35%;
	font-size: 26px;
	font-weight: 200;
	line-height: 16px;
}
.hashtag span{
	font-family: helvetica neue;
	font-size: 12px;
	font-weight: 100;
}
.links{
	font-family: "Oswald";
	font-size: 18px;
	font-weight: 200;
	text-align: right;
	padding: 20px 20px 0px 0px;
}
.about{
	width: 80%;
	text-align: justify;
	margin: 0 auto;
	color: black;
	font-size: 12px;
	font-weight: 200;
	font-family: Helvetica;
	padding-top: 16%;
	text-indent: 20px
}

/*navigation bar*/
.nav{
	position: fixed;
	z-index: 1;
	height: 30px;
	width: 100%;
	color: white;
	text-align: right;
	background-color: #212121;
}

/*rows*/
.row{
	display: inline-block;
	width: 100%;
	height: 0;
	vertical-align: top;
}
.one{
	padding-top: 30px;
	padding-bottom: 27%;
}
.two{
	padding-bottom: 22%;
}
.three{
	padding-bottom: 27%;
}
.four{
	padding-bottom: 20%;
}
.five{
	padding-bottom: 26%;
}

/*columns*/
.column{
	display: inherit;
	height: inherit;
	padding-bottom: inherit;
	vertical-align: inherit;
	color: white;
}
.A{
	width: 34%;
}
.B{
	width: 27%;
}
.C{
	width: 17%;
}
.D{
	width: 22%;
}

/*assignments*/
.one .A{
	background-color: #72752e;
}
.one .B{
	background: url("img/model1.jpg") no-repeat center center;
	background-size: 100%;
}
.one .C{
	color: black;
	text-align: center;
	background-color: #d1de5b;
}
.one .D{
	background-color: #c5b2b4;
}
.two .A{
	background-color: #b7d9db;
}
.two .B{
	text-align: center;
	background-color: #161429;
}
.two .C{
	background-color: white;
}
.two .D{
	background-color: #a3e2cd;
}
.three .A{
	background: url("img/map.png") no-repeat center center;
}
.three .B{
	background: url("img/venice.jpg") no-repeat center center;
	background-size: 100%;
}
.three .C{
	background: url("img/bigcity.jpg") no-repeat center center;
	background-size: 100%;
}
.three .D{
	background: url("img/model3.jpg") no-repeat center center;
	background-size: 100%;
}
.four .A{
	background: url("img/bridge.jpg") no-repeat center center;
	background-size: 100%;
}
.four .B{
	text-align: center;
	background-color: #f6857d;
}
.four .C{
	width: 0%;
}
.four .D{
	width: 39%;
	background-color: #212121;
	vertical-align: bottom;
}
.five .A{
	background: url("img/mannequin.jpg") no-repeat center center;
	background-size: 100%;
}
.five .B{
	background: url("img/model2.jpg") no-repeat center center;
	background-size: 100%;
}
.five .C{
	width: 0%;
}
.five .D{
	background-color: white;
	width: 39%;
}
.footer{
	background-color: ##212121;
	height: 300px;
}