@import './../../styles/breakpoints';

// Contact Styles

.contact {
  grid-area: contact;
}

.contact-title {
  margin-bottom: 8px;
}

.contact-blurb {
  margin-bottom: 24px;
}

.contact-list {
  padding: 0;
  list-style: none;
  column-count: 4;
}
