@import './../../styles/breakpoints';

// Contact Styles

.contact {
  grid-area: contact;
  position: relative;
}

.contact-title {
  margin-bottom: 8px;
}

.contact-blurb {
  margin-bottom: 24px;
}

.contact-list {
  padding: 0;
  list-style: none;
  column-count: 4;
}

.contact-coffee {
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 100px;
}
