@import './../../styles/breakpoints';

// Button Styles

.btn {
  display: inline-block;
  padding: 12px 60px;
  margin-bottom: 8px;
  width: 100%;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-white);

  @media #{$tablet} {
    width: auto;
    margin-bottom: 0;
  }

}

.btn-primary {
  background-color: var(--color-navy-dark);
}

.btn-secondary {
  background-color: var(--color-white);
  border-color: var(--color-black);
  color: var(--color-navy-dark);
}
