@import './../../styles/breakpoints';

// Tab Styles

.tabs {
  display: grid;
  grid-template-areas:
    "list container";
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
}

.tabs-container {
  grid-area: container;
  border: 1px solid var(--color-navy);
}

.tabs-list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-list-item {
  cursor: pointer;
}

.deselected {
  color: var(--color-gray);
}
