@import './../../styles/breakpoints';

// Nav Styles

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 32px;
  height: 32px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$tablet} {
    justify-content: flex-end;
  }

}

.nav-list-item {
  cursor: pointer;
  text-align: center;
  padding: 16px;

  @media #{$tablet} {
    padding: 24px;
  }

}
