@import './../../styles/breakpoints';

// Nav Styles

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 0 32px;

  @media #{$desktopxl} {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }

}

.nav-logo {
  width: 32px;
  height: 32px;
}

.nav-list {
  display: none;

  @media #{$tablet} {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

}

.nav-list-item {
  cursor: pointer;
  text-align: center;
  padding-left: 24px;
}
