// Color Styles

:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-coral: #e88562;
  --color-coral-dark: #da7652;

  --color-teal: #63c6a9;
  --color-teal-dark: #59b996;

  --color-navy: #103246;
  --color-navy-dark: #0a2535;

  --color-green: #acf67e;
  --color-green-dark: #a0e575;

  --color-gray-light: #F9F9F9;
  --color-gray: #d7d6d0;
  --color-gray-dark: #b0afa7;
}
