@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Open+Sans:300,400,600&display=swap');
@import './breakpoints';

// Typography Styles

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 100%;
  margin: 0;
}

h1 {
  font-size: 3.052em;

  @media #{$desktop} {
    font-size: 3.815em;
  }

}

h2 {
  font-size: 2.441em;

  @media #{$desktop} {
    font-size: 3.052em;
  }

}

h3 {
  font-size: 1.953em;

  @media #{$desktop} {
    font-size: 2.441em;
  }

}

h4 {
  font-size: 1.563em;

  @media #{$desktop} {
    font-size: 1.953em;
  }

}

h5 {
  font-size: 1.25em;

  @media #{$desktop} {
    font-size: 1.563em;
  }

}

h6 {
  font-size: 1em;

  @media #{$desktop} {
    font-size: 1.25em;
  }

}

strong {
  font-weight: 600;
}

p {
  font-size: 1em;
  margin-top: 0;

  &:last-child {
    margin: 0;
  }

}
