@import './../../styles/breakpoints';

// Main Styles

.main {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    ". hero ."
    ". intro ."
    ". skills ."
    ". work ."
    ". blog ."
    ". contact .";
  grid-template-rows:
    [nav] 80px
    [intro] auto
    [skills] auto
    [work] auto
    [blog] auto
    [contact] auto;
  grid-template-columns: 1fr 12fr 1fr;
  grid-row-gap: 32px;
  width: 100vw;
  min-height: 100vh;

  @media #{$tablet} {
    grid-template-columns: 1fr 6fr 1fr;
  }

  @media #{$desktop} {
    grid-template-columns: 1fr minmax(min-content, 860px) 1fr;
  }

  @media #{$desktopxl} {
    grid-template-columns: 1fr minmax(min-content, 1000px) 1fr;
  }

}
