@import './../../styles/breakpoints';

// Main Styles

.main {
  display: grid;
  grid-template-areas:
    ". nav ."
    ". hero ."
    ". intro ."
    ". skills ."
    ". work ."
    ". blog ."
    ". contact .";
  grid-template-rows:
    [nav] 80px
    [hero] 1fr
    [intro] 1fr
    [skills] 1fr
    [work] auto
    [blog] 2fr
    [contact] 1fr;
  grid-template-columns: 0 12fr 0;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  width: 100vw;
  min-height: 100vh;

  @media #{$desktop} {
    grid-template-areas:
      ". nav nav ."
      ". hero hero ."
      ". intro . ."
      ". skills skills ."
      ". work work ."
      ". . blog ."
      ". contact . .";
    grid-template-columns: 1fr minmax(min-content, 450px) minmax(min-content, 450px) 1fr;
  }

  @media #{$desktopxl} {
    grid-template-columns: 1fr minmax(min-content, 550px) minmax(min-content, 550px) 1fr;
  }

}
