// Icon Styles

.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.icon-xs {
  height: 16px;
  width: 16px;
}

.icon-sm {
  height: 24px;
  width: 24px;
}

.icon-md {
  height: 32px;
  width: 32px;
}

.icon-lg {
  height: 40px;
  width: 40px;
}

.icon-xl {
  height: 70px;
  width: 70px;
}
