@import './../../styles/breakpoints';

// Work Styles

.work {
  grid-area: work;
  margin-bottom: 100px;

  @media #{$tablet} {
    margin-bottom: 120px;
  }

  @media #{$desktopxl} {
    margin-bottom: 170px;
  }

}

.work-title {
  margin-bottom: 16px;
}
