@import './../../styles/breakpoints';

// Skills Styles

.skills {
  grid-area: skills;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills-plant,
.skills-profile {

  @media #{$tablet} {
    position: absolute;
  }

}

.skills-plant {
  width: 100px;

  @media #{$tablet} {
    width: 120px;
    left: 110px;
    bottom: 100px;
  }

  @media #{$desktopxl} {
    width: 160px;
  }

}

.skills-profile {
  width: 100px;

  @media #{$tablet} {
    width: 140px;
    left: 0;
    bottom: 90px;
  }

  @media #{$desktopxl} {
    width: 160px;
  }

}
