@import './../../styles/breakpoints';

// Skills Styles

.skills {
  grid-area: skills;
  margin-bottom: 100px;
}

.skills-cards {
  margin-bottom: 80px;

  @media #{$tablet} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;
  }

  @media #{$desktop} {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 30px;
  }

  @media #{$desktopxl} {
    grid-column-gap: 40px;
    margin-bottom: 40px;
  }

}

.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 24px;

  @media #{tablet} {
    min-height: 200px;
  }

  @media #{$desktop} {
    min-height: 260px;
    margin-bottom: 0;
  }

  @media #{$desktopxl} {
    min-height: 200px;
  }

  &:hover {

    .skills-card-icon {
      transform: rotate(360deg);
    }

  }

}

.skills-card-title {
  margin-bottom: 8px;
}

.skills-card-body {

  @media #{$desktopxl} {
    margin-bottom: 8px
  }

}

.skills-card-icon {
  margin-bottom: 16px;

  @media #{$desktop} {
    position: absolute;
    top: 24px;
    right: 24px;
    transition: all 1s ease-in-out;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    margin: 0;
  }

}

.skills-background {
  background-color: var(--color-gray-light);
  height: 250px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 1100px;
  z-index: -1;

  &:after {
    display: inline-block;
    content: '';
    border-style: solid;
    border-width: 150px 50vw 0 50vw;
    border-color: var(--color-gray-light) transparent transparent transparent;
    position: absolute;
    bottom: -150px;
  }

  @media #{$tablet} {
    top: 890px;
  }

  @media #{$desktop} {
    top: 720px;
  }

  @media #{$desktopxl} {
    top: 780px;
  }

}

.skills-profile {
  display: none;

  @media #{$tablet} {
    display: block;
    margin: 0 auto;
    width: 210px;
  }

  @media #{$desktopxl} {
    width: 250px;
  }

}
