@import './../../styles/breakpoints';

// Skills Styles

.skills {
  grid-area: skills;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}

.skills-plant,
.skills-profile {
  position: absolute;
}

.skills-plant {
  width: 180px;
  right: 0;
  bottom: 240px;
}

.skills-profile {
  width: 170px;
  bottom: -10px;;
  left: 0;
}
