@import './../../styles/breakpoints';

// Hero Styles

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  z-index: 1;
}

.hero-block-title {
  margin-bottom: 8px;
}

.hero-block-desc {
  max-width: 400px;
  margin-bottom: 40px;
}

.block-ctas-btn {

  @media #{$tablet} {
    margin-left: 8px;
    margin-right: 8px;
  }

}

.hero-profile-1,
.hero-profile-2 {
  position: absolute;
  bottom: 120px;
}

.hero-profile-1 {
  width: 490px;
  left: 0;
}

.hero-profile-2 {
  width: 320px;
  right: 140px;
}
