@import './../../styles/breakpoints';

// Hero Styles

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  z-index: 1;
  margin-top: 24px;
  margin-bottom: 40px;

  @media #{$tablet} {
    margin: 0;
  }

}

.hero-block-title {
  margin-bottom: 8px;
}

.hero-block-desc {
  max-width: 450px;
  margin-bottom: 40px;
}

.block-ctas-btn {

  @media #{$tablet} {
    margin-left: 8px;
    margin-right: 8px;
  }

}

.hero-profile-1,
.hero-profile-2 {

  @media #{$tablet} {
    position: absolute;
    bottom: 100px;
  }

  @media #{$desktopxl} {
    bottom: 120px;
  }

}

.hero-profile-1 {
  width: 240px;

  @media #{$tablet} {
    width: 400px;
    left: -20px;
  }

  @media #{$desktopxl} {
    width: 480px;
    left: 0;
  }

}

.hero-profile-2 {
  display: none;
  width: 150px;

  @media #{$tablet} {
    display: block;
    width: 270px;
    right: 100px;
  }

  @media #{$desktopxl} {
    width: 320px;
    right: 160px;
  }

}
